/* #palette{
    color:#DFF8EB;
    color:#A28F9D;
    color:#74776B;
    color:#5C574F;
    color:#48483A;
} */

.skills-image{
    width: 150px;
    height: 150px;
}
.skills-image-wide{
    width: 180px;
    height: 150px;
}


nav{
    background-color:#74776B;
    color:#DFF8EB;
}

.nav-link{
    color:#DFF8EB !important;
}

.parallax-container{
    height: 1200px;
}

#projects{
    margin-top:30px;
}

a.active{
}


#brand-statement{
    font-size: 20px;
    text-align: center;
    line-height: 1.2em;
    padding: 30px 10px 50px 10px ;
    background-color: #DFF8EB;
    color:#48483A;
    border-radius: 20px;
}

#resume-btn:hover{
    opacity: 0.5;
}

#contact-info{
    font-size: 30px;
    line-height: 50px;
}

.project-image{
    height:300px;
}

#portfolio-image{
    height: 500px;
}

.project-link{
    border-radius: 5px;
    background-color: #DFF8EB;
    color:#48483A !important;
    padding:10px 20px 10px 20px;
}
.project-link:hover{
    color: orange !important;
}

#about-me{
    margin-top:80px;
    text-align: center;
}

#portfolio-background{
    background-color: #A28F9D;
    padding-bottom: 50px;
}

.card-title{
    border-radius: 10px;
    padding: 10px 20px 15px 20px!important;
    background-color: #48483A;
    color:#DFF8EB !important;
}

#contact{
    margin-top: 100px;
    padding-bottom: 400px;
}


#name-header{
    font-weight: bold;
}

.card-content{
    font-size: 20px;
    height:130px;
}

.section-header{
    font-weight: bold;
}


@media screen and (max-width:640px){
    #main{
       min-width:640px;;
    }
    .parallax-container{
        height: 1500px;
    }
}

/* @media screen and (max-width:768px){
    #main{
       min-width:768px !important;
    }
    .parallax-container{
        height: 1500px;
    }
} */